<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @{
        Html.RenderPartial("_Bundles");
    }
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
